<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="/" class="home-logo-link">
        <img src="/assets/icons/TuringSchool_LogoMark_Gray.png"
         alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase"><a href="/mock-up/networking/networking_home">Networking</a></li>
    <li class="uppercase"><a href="/module_two">Module 2</a></li>
    <li class="uppercase"><a href="/module_three">Module 3</a></li>
    <li class="uppercase"><a href="/module_four">Module 4</a></li>
    <li class="uppercase"><a href="/module-5">Module 5</a></li>
    <li class="uppercase"><a href="/resources">Resources</a></li>
    <li class="uppercase"><a href="/standards_and_rubric">Standards</a></li>
    <li class="uppercase"><a href="/student_discussion_groups">Homeroom</a></li>
    <li class="uppercase"><a href="/mixed_groups">Mix It Up</a></li>
  </ul>
</nav>
