<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="/" class="home-logo-link">
        <img src="/career-development-curriculum-site/assets/icons/TuringSchool_LogoMark_Gray.png"
         alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase"><a href="/career-development-curriculum-site/module_one">Module 1</a></li>
    <li class="uppercase"><a href="/career-development-curriculum-site/module_two">Module 2</a></li>
    <li class="uppercase"><a href="/career-development-curriculum-site/module_three">Module 3</a></li>
    <li class="uppercase"><a href="/career-development-curriculum-site/module_four">Module 4</a></li>
  </ul>
</nav>
